.App {
  display: flex;
  flex-direction: column;
}

.App h1{
  margin:20px 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.smurf{
  margin:20px auto;
  border: 3px solid rgba(0, 3, 156, 0.733);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}

.smurf h2{
  margin:5px 0;
  font-size: 1.3rem;
}